html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
    font-weight: bold;
}

.footer {
    text-align: center;
    color: #fff;
    padding: 1rem 0;
}

.container.content-wrapper {
    padding-bottom: 2rem;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-indicators img {
    cursor: pointer;
}

.carousel-indicators img {
    cursor: pointer;
}

.form-control-file {
    display: block;
    width: 100%;
}